  <footer>
      <p class="copyright">Made 🛠️ in Kazakhstan, an exotic location you may have heard and are welcome to visit
      </p>
  </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/ScrollMagic.min.js"></script>
    <script src="/js/ion.rangeSlider.min.js"></script>
    <script src="/js/jquery.maskedinput.js"></script>
    <script src="/js/jquery.fullpage.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/moment-with-locales.js"></script>
    <!-- <script src="/js/debug.addIndicators.min.js"></script> -->
    <script src="/js/main.js"></script>
  </body>
</html>
