<header>
  <div class="navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <!--Billing-->
          <!--<span>Деньги за связь</span>-->
          <img src="/img/favicon2.png" alt="Billing"/>
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/kz">Қаз</a>
        </li>
          <li>
            <a href="https://wa.me/77775947304" target="_blank"><img src="/img/whatsapp.png" alt="Написать в WhatsApp"/> WhatsApp</a>
          </li>
          <li>
            <a href="mailto:infobillingg@gmail.com"><img src="/img/email.png" alt="Написать email"/> Email</a>
          </li>
          <!--<li>-->
            <!--<a href="tel:+77775947304"><img src="/img/phone.png" alt="Позвонить"/> +7 777 594 73 04</a>-->
          <!--</li>-->
        </ul>
      </div>      
    </div>
  </div>
</header>
