﻿<!DOCTYPE html>
<html lang="kaz">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
              j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
              'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WXZPHLP');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Телекоммуникациялық провайдерлер үшін Биллинг бағдарламасы, Биллинг бағдарламалық жасақтама, Биллинг ақпарат жүйесі - Интернет, Телевизия, Теледидар, Телефония, Домофон.
    Телеком кәсіпкерлер Интернет ақшасы алады">
    <meta name="keywords" content="Телекоммуникациялық провайдерлер үшін Биллинг бағдарламасы, Биллинг бағдарламалық жасақтама, Биллинг ақпарат жүйесі - Интернет, Телевизия, Теледидар, Телефония, Домофон.">
    <meta name="author" content="timebilling.kz">
    <link rel="shortcut icon" href="/img/favicon.png" />

    <title>TimeBilling - Телекоммуникациялық операторлар және басқа провайдерлер үшін Биллинг жүйесi, Биллинг бағдарламасы.
      Интернет, Телевизия, Теледидар, Телефония, Домофон және тағы басқа қызметтер</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="/css/ion.rangeSlider.skinHTML5.css" rel="stylesheet">
    <link href="/css/jquery.fullpage.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXZPHLP"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->