﻿<%- include('layouts/user-manual-head'); %>

<%
function digit(number) {
    var number =  String(number).replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1 ');
    return number;
}
%>
<%# comment %>

<%- include('layouts/header'); %>
<div class="section">
    <IMG class="displayed" src="/img/admin.svg" alt="Руководство администратора биллинга для телеком операторов">
    <div class="container" title="Руководство администратора биллинговой системы">
        <h1>Биллинг для администратора</h1>
         <ul class="a">
            <li><a href="/synchra-works">Не работает синхронизация</a></li>
         </ul>
         <ul class="a">
            <li><a href="/connect-to-mikrotik">Настройки подключения к Mikrotik</a></li>
         </ul>
    <div class="small-empty-container"></div>
        <p class="blocktext_lighter">
            Скопируйте заинтересовавший вас фрагмент и отправьте нам
        </p>
    </div>
    <div>
        <a href="https://wa.me/77775947304" class="dwnld-button">Отправить</a>
    </div>
    <div class="empty-container"></div>

</div>

<%- include('layouts/footer'); %>