﻿<%- include('layouts/user-manual-head'); %>

<%
function digit(number) {
    var number =  String(number).replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1 ');
    return number;
}
%>
<%# comment %>

<%- include('layouts/header'); %>
<div class="section">
    <IMG class="displayed" src="/img/АРМ Оператора.png" alt="Руководство пользователя биллинго - АРМ Оператора биллинга">
    <div class="container" title="Руководство пользователей биллинговой системы">
        <h1>АРМ Оператора</h1>
         <p class="blocktext">
            <i>Меню Абоненты - АРМ Операторв</i>
         </p>
       <p class="blocktext">
          В поле Поиск можно ввести параметры и найти нужного абонента.
       </p>
         <br></br>
         <IMG class="displayed" src="/img/АРМ Оператора Биллинга.jpg" alt="Автоматизированное Рабочее Место пользователя биллинга">
         <br></br>
       <p class="blocktext">
          В АРМе можно найти:
       </p>
        <ul class="a">
           <li>Текущее сальдо (остаток) по каждому договору. Переплата отображается со знаком "-" и выделена красным.</li>
        </ul>
        <ul class="a">
           <li>Подключенные услуги</li>
        </ul>
        <ul class="a">
           <li>Распечатка - детализация звонков (Телефония)</li>
        </ul>
        <ul class="a">
           <li>Отчет Взаиморасчеты/ Взаиморасчеты документы</li>
        </ul>

        <!--  <IMG class="displayed" src="/img/Взаиморасчеты Документы.png" alt="Автоматизированное Рабочее Место пользователя биллинга"> -->

        <div class="small-empty-container"></div>
        <a href="/user-manual">Еще про биллинг</a>
        <div class="small-empty-container"></div>
        <p class="blocktext_lighter">
            Скопируйте что вас интересует и отправьте нам
        </p>
    </div>
    <div>
        <a href="https://wa.me/77775947304" class="dwnld-button">Отправить</a>
    </div>
    <div class="small-empty-container"></div>

</div>

<%- include('layouts/footer'); %>