﻿<%- include('layouts/user-manual-head'); %>

<%
function digit(number) {
    var number =  String(number).replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1 ');
    return number;
}
%>
<%# comment %>

<%- include('layouts/header'); %>
<div class="section">
    <IMG class="displayed" src="/img/Биллинг Интернет Услуги.png" alt="Руководство пользователя биллинго - Услуги - Номенклатура - Тарифы биллинга">
    <div class="container" title="Руководство пользователей биллинговой системы">
        <h1>Номенклатура</h1>
         <p class="blocktext">
            <i>Меню Абоненты - Номенклатура</i>
         </p>
         <br></br>
       <iframe width="394" height="222" src="https://youtube.com/embed/zapCYDg1GqY" frameborder="0">
       </iframe>
       <br></br>

     <p class="blocktext">
        Рекомендуется проставить значения в следующих полях: Наименование, Услуга, Номенклатурная группа, Profile
     </p>
        <div class="small-empty-container"></div>
        <a href="/user-manual">Еще про биллинг</a>
        <div class="small-empty-container"></div>
        <p class="blocktext_lighter">
            Скопируйте что вас интересует и отправьте нам
        </p>
    </div>
    <div>
        <a href="https://wa.me/77775947304" class="dwnld-button">Отправить</a>
    </div>
    <div class="small-empty-container"></div>

</div>

<%- include('layouts/footer'); %>