﻿<%- include('layouts/user-manual-head'); %>

<%
function digit(number) {
    var number =  String(number).replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1 ');
    return number;
}
%>
<%# comment %>

<%- include('layouts/header'); %>
<div class="section">
    <IMG class="displayed" src="/img/Synchra works.png" alt="Интеграция биллинговой система TimeBilling с 1С Бухгалтерией">
    <div class="container" title="Интеграция биллинговой система TimeBilling с 1С Бухгалтерией">
        <h1>Интеграция с 1С Бухгалтерией</h1>
        <p class="blocktext">
            <i>TimeBilling (БС) имеет автоматическую, нативную интеграцию с программным обеспечением 1С Бухгалтерия для Казахстана,
            версия 3.0 (Бухгалтерия)</i>
        </p>
        <p class="blocktext">
            Данная интеграция реализована с помощью стандартного механизма синхронизации.
            <p class="blocktext">
            При настроенной синхронизации между БС и Бухгалтерией, документы и записи справочников,
            которые вводятся или изменяются в одном приложении, будут автоматически и нативно
            передаваться в другое приложение во время периодических сеансов синхронизации данных.
            <p class="blocktext">
            Например, после оплаты абонентом в приложении kaspi.kz суммы 9 400 тенге,
            данный платеж из БС автоматически и нативно появляется в Бухгалтерии через 30-120 секунд
            (настройки для локальной сети) без дополнительных действий со стороны пользователя (БС или Бухгалтерии) или администратора.
        </p>
        <p class="blocktext_lighter">
            Интересуют подробности? Напишите нам
        </p>
    </div>
    <div>
        <a href="https://wa.me/77775947304" class="dwnld-button">Написать</a>
    </div>
    <div class="empty-container"></div>

</div>

<%- include('layouts/footer'); %>