﻿<%- include('layouts/user-manual-head'); %>

<%
function digit(number) {
    var number =  String(number).replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1 ');
    return number;
}
%>
<%# comment %>

<%- include('layouts/header'); %>
<div class="section">
    <IMG class="displayed" src="/img/Платежи Наличные и Безналичные.png" alt="Руководство пользователя биллинго - Прием Наличных и Безналичных Платежей">
    <div class="container" title="Руководство пользователей биллинговой системы">
        <h1>Безналичные и наличные платежи</h1>
         <p class="blocktext">
            <b>Для безналичных платежей - Платежные ордера. Для наличных - Приходный кассовый ордер</b>
         </p>
         <p class="blocktext">
            <i>Меню Оплата - Платежные ордера (поступление денежных средств)</i>
         </p>
         <br></br>
        <iframe width="394" height="222" src="https://youtube.com/embed/n9cFPiS-rj8" frameborder="0">
        </iframe>
        <br></br>
       <p class="blocktext">
           <i>Меню Оплата - Приходный кассовый ордер</i>
        </p>
        <br></br>
       <iframe width="394" height="222" src="https://youtube.com/embed/FidllHJBGLU" frameborder="0">
       </iframe>
        <div class="small-empty-container"></div>
        <a href="/user-manual">Еще про биллинг</a>
        <div class="small-empty-container"></div>
        <p class="blocktext_lighter">
            Скопируйте что вас интересует и отправьте нам
        </p>
    </div>
    <div>
        <a href="https://wa.me/77775947304" class="dwnld-button">Отправить</a>
    </div>
    <div class="small-empty-container"></div>

</div>

<%- include('layouts/footer'); %>