﻿<%- include('layouts/user-manual-head'); %>

<%
function digit(number) {
    var number =  String(number).replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1 ');
    return number;
}
%>
<%# comment %>

<%- include('layouts/header'); %>
<div class="section">
    <IMG class="displayed" src="/img/Mikrotik.png" alt="Руководство администратора биллинга, Как настроить подключение к Mikrotik">
    <div class="container" title="Руководство администратора биллинговой системы - Подключение к Mikrotik">
        <h1>Настройки подключения к Mikrotik</h1>
        <div class="small-empty-container"></div>
             <p class="blocktext"><b>Как происходит отключение-подключение</b></p>
             <p class="blocktext">
                При сохранении документа <a href="/upravlenie-uslugami">Управление услугами абонента</a>, в зависимости от значения в табличной
                части "-1" или "1", происходит отключение ("-1") или включение ("1") абонентской учетной записи на оборудовании
             </p>
             <p class="blocktext">
               При этом появляется соответствующая запись в меню АТС – Очередь команд к интеграционному шлюзу.
             </p>
             <br></br>
             <IMG class="displayed" src="/img/Отключение Подключение Микротик.png" alt="Отключение Подключение Микротик">
             <br></br>
             <p class="blocktext">
               Если в Очереди присутствует строка, то это значит что на оборудование уже отправлена команда (отключить или подключить).
               После успешного выполнения команды запись из Очереди будет удалена системой. Если запись висит в Очереди дольше, чем
               обычно, значит не удается выполнить команду.
             </p>

              <p class="blocktext">
                Для идентификации абонентской записи на Mikrotik'e используется поле Login (из договора абонента).
              </p>
           <br></br>
             <IMG class="displayed" src="/img/Логин Пароль Микротик.png" alt="Логин Пароль Микротик">
        <div class="small-empty-container"></div>
        <p class="blocktext"><b>Создание нового абонента</b></p>
          <p class="blocktext">
            При <a href="/upravlenie-uslugami">подключении</a> нового абонента в Управлении услугами, в поле Номенклатура указывается услуга (тариф),
            который выбрал абонент. Если поля Login и Password в договоре (с видом Интернет) заполнены, то на
            оборудовании (Mikrotik => Secrets) должна появиться соответствующая учетная запись.
          </p>
          <p class="blocktext"><i>
            Соответствие услугb в биллинге и тарифного плана (profile) в Mikroitk'е проставляется в поле Profile
          </i></p>
           <br></br>
         <IMG class="displayed" src="/img/Услуга в биллинге - Тариф в Микротике.png" alt="Услуга в биллинге - Тариф в Микротике">
          <br></br>
           <p class="blocktext">
             Т.е. в биллинге это услуга "UNLIM 100 (5000)", а в Mikroitk'е это profile "Unlim100"
           </p>
         <p class="blocktext"><i>
           Если это поле Profile оставить не заполненным в Номенклатуре, то при подключении нового абонента, мы получим ошибку о том что
           невозможно создать Secret.
         </i></p>
        <div class="small-empty-container"></div>
        <p class="blocktext"><b>Настройки автоматического отключения</b></p>
        <p class="blocktext"><i>При какой сумме долга отключать?</i></p>
        <p class="blocktext">В биллинге есть возможность задать сумму долга, выше которой происходит
        автоматическое отключение абонента (учетной записи на оборудовании) от услуги Интернет</p>
        <p class="blocktext"><i>Меню Оплата => Порог задолженности</i></p>
         <br></br>
        <IMG class="displayed" src="/img/При каком долге отключать.png" alt="При каком долге отключать">
         <br></br>
        <p class="blocktext">Т.е. при сумме долга выше 3 499 тг абонент будет отключен автоматически от Интернета.</p>
        <div class="small-empty-container"></div>
        <p class="blocktext"><b>Настройки расписания автоматического отключения</b></p>
        <p class="blocktext"><i>Меню Администрирование => Обслуживание => Регламентные операции => Регламентные и фоновые задания =>
        Контроль задолженности и отключение за неуплату
        </i></p>
        <p class="blocktext">После открытия, нужно проставить флаг Включено,
        далее зайти в Расписание и настроить дату и время когда система будет проверять абонентов на условия отключения.
        </p>
         <br></br>
        <IMG class="displayed" src="/img/Настройка расписания на отключение.png" alt="Настройка расписания на отключение">
         <br></br>
        <p class="blocktext">В данном примере, мы настроили что каждое 26-ое число, ежемесячно биллинг будет проверять абонентов на наличие
        превышения порога задолженности.
        </p>
        <p class="blocktext">
             Если абонент подходит под условия отключения, то происходит следующее. Создается документ
             Управление услугами, в котором стоит -1, т.е. отключение (а в поле Комментарий проставляется
             сообщение "Автоматическое отключение по задолженности"). Далее создается запись с данным
             абонентом в таблице Оплата – Абоненты отключенные за неуплату. И конечно создается команда в
             меню АТС – Очередь команд к интеграционному шлюзу. Т.е. отрабатывает вся та же логика описанная ранее.
        </p>
        <div class="small-empty-container"></div>
        <p class="blocktext"><b>Настройки автоматического подключения</b></p>
        <p class="blocktext"><i>Меню Оплата => Минимальный баланс для автоматического подключения
        </i></p>
        <p class="blocktext">Если указать 0, то система будет проверять и подключать тех абонентов, у которых на дату проверки
        остаток на счете от 0 и выше, т.е. -0,01 и т.д. Переплата учитывается со знаком минус.
        </p>
        <br></br>
        <IMG class="displayed" src="/img/Минимальный баланс для подключения Интернет.png" alt="Минимальный баланс для подключения Интернета">
        <div class="small-empty-container"></div>
        <p class="blocktext"><b>Настройки расписания автоматического подключения</b></p>
        <p class="blocktext"><i>Меню Администрирование => Обслуживание => Регламентные операции => Регламентные и фоновые задания =>
        Подключение после погашения задолженности
        </i></p>
        <p class="blocktext">Нужно его открыть и проставить флаг Включено,
        далее зайти в Расписание и настроить дату и время когда система будет проверять абонентов на условия подключения.
        </p>
        <br></br>
        <IMG class="displayed" src="/img/Настройка расписания на подключение.png" alt="Настройка расписания на подключение">
        <br></br>
        <p class="blocktext">
            Если абонент подходит под условия, то происходит следующее. Создается документ Управление
            услугами, в котором стоит +1, т.е. подключение (а в поле Комментарий проставляется сообщение
            "Автоматическое подключение после оплаты задолженности"). Далее удаляется запись с данным
            абонентом в таблице Оплата – Абоненты отключенные за неуплату. И конечно создается команда в
            меню АТС – Очередь команд к интеграционному шлюзу. Происходит обработка вышеописанной логики.
        </p>
        <div class="small-empty-container"></div>
        <p class="blocktext"><b>Разрешить - Запретить</b></p>

        <p class="blocktext">
        Если включить Контроль задолженности и отключение за неуплату, описанный в п. Настройки
        автоматического отключения, то система будет отключать всех абонентов (при соблюдении условия
        по задолженности). В определенных случаях, например при поэтапном введении отключения-включения
        абонентов, а также при наличии исключений. возникает потребность указать системе, какие абоненты могут быть отключены (а затем
        включены), а какие - нет. Для этого есть следуюшая функция.
        </p>
        <p class="blocktext"><i>Меню Оплата => Контроль задолженности разрешить
        </i></p>
        <p class="blocktext">
            Чтобы система отключала абонентов, необходимо добавить их в этот список. Сюда можно
            добавлять как одного абонента, таки целиком всю папку.
        </p>
        <br></br>
        <IMG class="displayed" src="/img/Разрешить отключение.png" alt="Разрешить отключение">
        <br></br>
        <p class="blocktext"><i>Если абонентов не добавлять в список Контроль задолженности разрешить, то биллинг
        не будет их проверять на порог задолженности и соовтественно отключать.
        </i></p>
        <p class="blocktext">Если абонента не нужно отключать, даже если у него долг превышает Порог задолженности,
        то существует следуюшая функция.
        </p>
        <p class="blocktext"><i>Меню Оплата => Контроль задолженности запретить.
        </i></p>

        <div class="small-empty-container"></div>
        <a href="/admin-manual">Еще про биллинг для администратора</a>
        <div class="small-empty-container"></div>
        <p class="blocktext_lighter">
            Скопируйте фрагмент и отправьте нам
        </p>
    </div>
    <div>
        <a href="https://wa.me/77775947304" class="dwnld-button">Отправить</a>
    </div>
    <div class="small-empty-container"></div>

</div>

<%- include('layouts/footer'); %>