﻿<%- include('layouts/en_head'); %>

<%
function digit(number) {
    var number =  String(number).replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1 ');
    return number;
}
%>
<%# comment %>

<%- include('layouts/en_header'); %>
<div class="section">
    <IMG class="displayed" src="/img/Биллинг для Интернета ТВ Телефонии.png" alt="Биллинг для тарификации Интернета, телефонии, телевидения, домофона и других услуг">
    <div class="container" title="TimeBilling - Billing & Invoicing to Telecom Operators">
        <h1>TimeBilling</h1>
        <p class="blocktext">
            Billing & Invoicing Software for Telecommunications Businesses - Internet, TV, Landline Phone service, Intercom & other service providers
        </p>
        <p class="blocktext_lighter">
            Have not found your service? Tell us
        </p>
    </div>
    <div>
        <a href="https://wa.me/77775947304" class="dwnld-button">Message Us</a>
    </div>
    <div class="empty-container"></div>

    <div class="container" title="Features of TimeBilling">
        <h1>Features</h1>
        <ul class="a">
            <li>Subscriber Database & Management</li>
            <li>Recurring/Subscription Billing & Invoicing</li>
            <li>Pre-paid or Post-paid System</li>
            <li>Customizable Billing</li>
            <li>Flexible Rate Tables</li>
            <li>Billing & Invoicing on Schedule</li>
            <li>Multi-Currency</li>
            <li>Payments/Real-Time Payments</li>
            <!--<li>Customizable Reports</li>-->
            <!--<li>Reporting/Analytics</li>-->

            <li>And finally, seamless integration with an accounting software 1C. Neither file exchange nor 'Click the button to send data'. Works like a charm!</li>
        </ul>
        <p class="blocktext_lighter">
            Let us know what you are interested in
        </p>
    </div>
    <div>
        <a href="https://wa.me/77775947304" class="dwnld-button">Message Us</a>
    </div>
    <div class="empty-container"></div>

    <!--<IMG class="displayed" src="/img/АРМ Оператора.png" alt="АРМ Оператора">-->
    <!--<div class="container" title="АРМ Оператора">-->
        <!--<h1>АРМ Оператора</h1>-->
        <!--<p class="blocktext">Удобное рабочее место оператора, 90% действий в одном окне</p>-->
    <!--</div>-->
    <!--<div class="empty-container"></div>-->

    <div class="container" title="Manage Your Profit">
        <IMG class="displayed" src="/img/Биллинг для увеличения прибыли.png" alt="Увеличение прибыли">
        <h1>Manage Your Profit</h1>
        <ul class="a">
            <li>Debtors Search</li>
            <li>Illegal Use of Services Analytics</li>
        </ul>
    </div>
    <div class="empty-container"></div>

    <div class="container" title="Reporting & Analytics">
        <IMG class="displayed" src="/img/Биллинг с Отчетами для руководителя.png" alt="Отчеты руководителя">
        <h1>Reporting & Analytics</h1>
        <ul class="a">
            <li>ARPU</li>
            <li>Revenue, Trends & Insights</li>
            <li>Customizable Reports</li>
        </ul>
    </div>
    <div class="empty-container"></div>

    <div class="container" title="More Features">
        <IMG class="displayed" src="/img/Биллинг с Дополнительными возможностями.png" alt="Дополнительные возможности">
        <h1>More Features</h1>
        <ul class="a">
            <li>Integrations with Telecom Equiment, Convergence</li>
            <li>Third Party Integrations</li>
            <li>Data Import/Export</li>
            <li>Usage Tracking/Logging</li>
            <li>Access Controls/Permissions</li>
            <li>Support of Lawful Interception</li>
            <li>Backups & Recovery</li>
            <li>Cloud or On Premise</li>
        </ul>
    </div>
    <div class="empty-container"></div>

    <div class="container" title="Our Telecom Providers">
        <h1>Our Telecom Providers</h1>
        <ul class="a">
            <li>Elitecom, Astana</li>
            <li>Scs Telecom, Astana</li>
            <li>Arka Telecom, Astana</li>
            <li>Nursat, Almaty</li>
            <li>KDF NS, Astana</li>
            <li>Arul, Astana</li>
            <li>Business Telecom, Astana</li>
            <li>Astana Group, Astana</li>
            <li>Key Com, Almaty</li>
            <li>Nomad TV, Astana</li>
            <li>Telecom Community, Astana</li>
            <li>Almaline (Казахские Домашние Сети), Almaty</li>
            <li>KazTeleSystem, Astana</li>
            <li>Sapa Telecom, Aqtobe Region</li>
            <li>Telco Construction, Akmola Region</li>
        </ul>
    </div>
    <div class="empty-container"></div>


    <div class="container" title="Our Team">
        <h1>Our Team</h1>
        <ul class="users-list">
            <li>
                <img src="/img/Danil.png" alt="Danil"/>
                <span>Danil Zarubin</span>
                <p>Software Engineer</p>
                <p class="blocktext2">
                    Loves playing ice hockey & solving problems
                </p>
            </li>
            <li>
                <img src="/img/Dima.png" alt="Dmitri"/>
                <span>Dmitri Machnev</span>
                <p>Software Engineer</p>
                <p class="blocktext2">
                    Makes reliable backends. Loves clean code & clean ice
                </p>
            </li>
            <li>
                <img src="/img/Eugene.png" alt="Eugene"/>
                <span>Eugene Enshin</span>
                <p>Software Engineer</p>
                <p class="blocktext2">
                    Made that 'works like a charm!' happen. Never drops his stick
                </p>
            </li>
            <li>
                <img src="/img/Anatoli.png" alt="Anatoli"/>
                <span>Anatoli Kim</span>
                <p>Software Engineer & Founder</p>
                <p class="blocktext2">
                    Discovered that emerging telecom providers were underserved and came up with the idea of TimeBilling. Loves listening to customers' pains. Swims faster than walks
                </p>
            </li>
        </ul>
    </div>
    <br>

    <p class="blocktext_center">Message us, we are happy to talk about billing, ice hockey 🏒 & swimming 🏊</p>
    <br>
    <br>
    <p><a href="https://wa.me/77775947304" target="Message Us"><img src="/img/whatsapp.png" alt="Message Us"/> WhatsApp</a>
        &nbsp
        <a href="mailto:infobillingg@gmail.com"><img src="/img/email.png" alt="Email"/> Email</a>
        <!--&nbsp-->
        <!--<a href="tel:+77775947304"><img src="/img/phone.png" alt="Call"/>+7 777 594 73 04</a><p/>-->

</div>

<%- include('layouts/en_footer'); %>