﻿<%- include('layouts/user-manual-head'); %>

<%
function digit(number) {
    var number =  String(number).replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1 ');
    return number;
}
%>
<%# comment %>

<%- include('layouts/header'); %>
<div class="section">
    <IMG class="displayed" src="/img/Отбор фильтр, порядок и сортировка полей.png" alt="Руководство пользователя биллинго - Как в биллинге сделать Отбор (фильтр), порядок и сортировку полей">
    <div class="container" title="Руководство пользователей биллинговой системы">
        <h1>Отбор, порядок и сортировка полей</h1>
         <p class="blocktext">
            Иногда нам нужен другой, нестандартный вид в таблице данных. Для этого есть возможность изменить Отбор, порядок и сортировку колонок
            практически в любом окне.
         </p>
         <p class="blocktext">
            Например, вам нужно отобразить все Реализации в ЖК Art House зв июнь.
         </p>
      <p class="blocktext">
         Заходите в Реализацию, далее в правом, верхнем углу <i>Еще => Настроить список:</i>
      </p>
      <br></br>
      <IMG class="displayed" src="/img/Фильтр порядок и сортировка полей.png" alt="Фильтр, порядок и сортировка полей">
      <br></br>
    <p class="blocktext">
       Затем на вкладке Отбор установить значения для соответствующих полей: Контрагент и Период расчета:
    </p>
    <br></br>
    <IMG class="displayed" src="/img/Настройка списка.jpg" alt="Настройка списка">
    <br></br>
    <p class="blocktext">
       И вы получаете все реализации за июнь в ЖК Art House:
    </p>
    <br></br>
    <IMG class="displayed" src="/img/Настроить и отобрать список.jpg" alt="Настроить и отобрать список">
    <br></br>
    <p class="blocktext">
       Обратите внимание что выше вы получили только реализации за период, т.е. за услуги выставляемые регулярно, а не разовые.
    </p>
    <p class="blocktext">
       Если нужно получить все (и разовые, и за период) реализации, то следует изменить параметры отбора на следующие:
    </p>
    <br></br>
    <IMG class="displayed" src="/img/Настроить за период и разовые услуги.jpg" alt="Настроить за период и разовые услуги">
    <br></br>
    <p class="blocktext">
       Таким образом, мы запросили у биллинга показать нам все реализации в ЖК Art House с датой создания в диапазоне
       01.06.23 - 30.06.23. В результате система выводит все реализации, включая те у которых не заполнен Период (обведено зеленым):
    </p>
    <br></br>
    <IMG class="displayed" src="/img/Подсчитать итог.jpg" alt="Подсчитать итог">
    <br></br>
    <p class="blocktext">
       И наконец, если вы хотите узнать <b>сумму данных реализаций</b>, то достаточно после отбора нажать <b>Подсчитать итог</b> (в правом, нижнем углу - обведено зеленым).
    </p>
    <p class="blocktext">
       Выбирать каждый раз настройки достаточно утомительно, поэтому есть возможность их сохранить и выбирать при необходимости.
       Для этого <i>Еще => Сохранить настройки</i> и в появившемся окне придумайте название:
    </p>
    <br></br>
    <IMG class="displayed" src="/img/Сохранение настроек динамического списка.png" alt="Сохранение настроек динамического списка">
    <br></br>
    <p class="blocktext">
       Когда эти настройки вам понадобятся, нажмите <i>Еще => Выбрать настройки</i>.
    </p>
        <div class="small-empty-container"></div>
        <a href="/user-manual">Еще про биллинг</a>
        <div class="small-empty-container"></div>
        <p class="blocktext_lighter">
            Скопируйте что вас интересует и отправьте нам
        </p>
    </div>
    <div>
        <a href="https://wa.me/77775947304" class="dwnld-button">Отправить</a>
    </div>
    <div class="small-empty-container"></div>

</div>

<%- include('layouts/footer'); %>