﻿  <%- include('layouts/head'); %>

  <%
    function digit(number) {
      var number =  String(number).replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1 ');
      return number;
    }
  %>
  <%# comment %>

    <%- include('layouts/header'); %>
    <div class="section">
        <IMG class="displayed" src="/img/Биллинг для Интернета ТВ Телефонии.png" alt="Биллинг для тарификации Интернета, телефонии, телевидения, домофона и других услуг">
        <div class="container" title="TimeBilling - Биллинг для тарификации Интернета, телефонии, телевидения, домофона и других услуг">
            <h1>TimeBilling</h1>
            <p class="blocktext">
                Биллинговая система (биллинг) для тарификации Интернета, телефонии, телевидения, домофона и других услуг операторов связи
            </p>
            <p class="blocktext_lighter">
                Расскажите о ваших услугах
            </p>
        </div>
        <div>
            <a href="https://wa.me/77775947304" class="dwnld-button">Написать</a>
        </div>
        <div class="empty-container"></div>

        <div class="container" title="Возможности TimeBilling">
            <h1>Возможности TimeBilling</h1>
            <ul class="a">
                <li>Ведение <a href="/sozdat-abonenta">базы абонентов</a></li>
                <li>Управление <a href="/billing-services">тарифами</a> услуг связи</li>
                <li>Биллингование физических и юридических лиц</li>
                <li>Предоплата или Оплата по факту (Постоплата)</li>
                <li>Оплата ваших услуг в суперприложении Kaspi.kz с отображением долга в режиме real-time</li>
                <li>Прием платежей от абонентов</li>
                <li>Оплата ваших услуг через ЕРЦ Астана</li>
                <li>Автоматическая, нативная <a href="/billing-plus-1Cbuhgalter">интеграция</a> с 1С Бухгалтерия</li>
                <li>Биллингование по расписанию</li>
            </ul>
            <p class="blocktext_lighter">
                Напишите нам чтобы узнать подробнее
            </p>
        </div>
        <div>
            <a href="https://wa.me/77775947304" class="dwnld-button">Написать</a>
        </div>
        <div class="empty-container"></div>

        <IMG class="displayed" src="/img/АРМ Оператора.png" alt="АРМ Оператора">
        <div class="container" title="АРМ Оператора">
            <h1>АРМ Оператора</h1>
            <p class="blocktext">Удобное рабочее место оператора, 90% действий в одном окне</p>
        </div>
        <div class="empty-container"></div>

        <div class="container" title="Увеличение прибыли">
            <IMG class="displayed" src="/img/Биллинг для увеличения прибыли.png" alt="Увеличение прибыли">
            <h1>Увеличение прибыли</h1>
            <ul class="a">
                <li>Поиск должников</li>
                <li>Поиск нелегальных потребителей услуг</li>
                <li>Список для Судебного Кабинета</li>
            </ul>
        </div>
        <div class="empty-container"></div>

        <div class="container" title="Отчеты руководителя">
            <IMG class="displayed" src="/img/Биллинг с Отчетами для руководителя.png" alt="Отчеты руководителя">
            <h1>Отчеты руководителя</h1>
            <ul class="a">
                <li>Количество абонентов в разрезе услуг</li>
                <li>Доходы в разрезе услуг</li>
                <li>ARPU</li>
                <li>Настраиваемые отчеты</li>
            </ul>
        </div>
        <div class="empty-container"></div>

        <div class="container" title="Дополнительные возможности">
            <IMG class="displayed" src="/img/Биллинг с Дополнительными возможностями.png" alt="Дополнительные возможности">
            <h1>Дополнительные возможности</h1>
            <ul class="a">
                <li>Интеграция с телеком оборудованием <a href="/connect-to-mikrotik">на примере Mikrotik</a></li>
                <li>Интеграция с OSS CarbonSoft <a href="https://docs.carbonsoft.ru/display/CarbonBilling/API+REST+v2.0">через REST API</a></li>
                <li>Прием CDR файлов</li>
                <li>Интеграция с СОРМ по Интернет, по Телефонии</li>
                <li>Резервное копирование - Backups: на диск, в локальную сеть, в облако (при наличии возможностей)</li>
                <li>На выбор: On Premise <a href="/server_requirements">(рекомендации для сервера)</a> vs Cloud</li>
                <li>Логирование действий пользователей</li>
            </ul>
        </div>
        <div class="empty-container"></div>

        <div class="container" title="Наши операторы связи">
            <h1>Наши телеком провайдеры</h1>
            <ul class="a">
                <li>Элитком, г. Астана</li>
                <li>Scs Telecom, г. Астана</li>
                <li>Арка Телеком, г. Астана</li>
                <li>Nursat, г. Алматы</li>
                <li>KDF NS, г. Астана</li>
                <li>Arul, г. Астана</li>
                <li>Бизнес Телеком, г. Астана</li>
                <li>Astana Group, г. Астана</li>
                <li>Key Com, г. Алматы</li>
                <li>Nomad TV, г. Астана</li>
                <li>Telecom Community, г. Астана</li>
                <li>КазТелеСистем, г. Астана</li>
                <li>Сапа Телеком, г. Актобе</li>
                <li>Telco Construction, Акмолинская область</li>
            </ul>
        </div>
        <div class="empty-container"></div>


      <div class="container" title="Наша команда">
          <h1>Наша команда</h1>
          <ul class="users-list">
              <li>
                  <img src="/img/Danil.png" alt="Данил"/>
                  <span>Данил Зарубин</span>
                  <p>Software Engineer</p>
                  <p class="blocktext2">
                      Играет в хоккей на позиции атакующего защитника
                  </p>
              </li>
              <li>
                  <img src="/img/Dima.png" alt="Дмитрий"/>
                  <span>Дмитрий Махнёв</span>
                  <p>Software Engineer</p>
                  <p class="blocktext2">
                      Продумывает до деталей технические решения и комбинации на льду
                  </p>
              </li>
              <li>
                  <img src="/img/Eugene.png" alt="Евгений"/>
                  <span>Евгений Еньшин</span>
                  <p>Software Engineer</p>
                  <p class="blocktext2">
                      Не первый день в хокее - не упадёт при виде шайбы
                  </p>
              </li>
              <li>
                  <img src="/img/Anatoli.png" alt="Анатолий"/>
                  <span>Анатолий Ким</span>
                  <p>Software Engineer & Founder</p>
                  <p class="blocktext2">
                      Плавает быстрее чем ходит. Победил в Открытом Кубке страны по плаванию 2018
                  </p>
              </li>
          </ul>
      </div>
        <br>

        <p class="blocktext_center">Напишите или позвоните нам, поговорим о биллинге, хоккее 🏒 или плавании 🏊</p>
        <br>
        <br>
        <p><a href="https://wa.me/77775947304" target="Написать в WhatsApp"><img src="/img/whatsapp.png" alt="Написать в WhatsApp"/> WhatsApp</a>
            &nbsp
        <a href="mailto:infobillingg@gmail.com"><img src="/img/email.png" alt="Написать email"/> Email</a>
            <!--&nbsp-->
        <!--<a href="tel:+77775947304"><img src="/img/phone.png" alt="Позвонить"/>+7 777 594 73 04</a><p/>-->
    <div class="empty-container"></div>
    <div class="container">
        <h1>Политика конфиденциальности<br>Оферта, Реквизиты</h1>
        <p>г. Алматы, ул. Панфилова 98, ТОО "Fingram"<br>БИН: 180140019029 ИИК: KZ976017131000014243<br>БИК: HSBKKZKX АО «Народный Банк Казахстана»</p>
        <p></p>
        <li><a href="/template/Политика конфиденциальности.pdf" target="_blank">Политика конфиденциальности</a></li>
        <li><a href="/template/Оферта.pdf" target="_blank">Оферта</a></li>
        <p></p>
    </div>

    <div class="empty-container"></div>
    <div class="container">
        <h1>Лицензионный договор,<br>Свидетельство</h1>
        <li><a href="/template/contract.docx" target="_blank">Лицензионный договор</a></li>
        <li><a href="/template/copyright.pdf" target="_blank">Свидетельство</a></li>
        <p></p>
    </div>

    <div>
        <a href="https://wa.me/77775947304" class="dwnld-button">Написать</a>
    </div>

    </div>

  <%- include('layouts/footer'); %>