﻿<%- include('layouts/user-manual-head'); %>

<%
function digit(number) {
    var number =  String(number).replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1 ');
    return number;
}
%>
<%# comment %>

<%- include('layouts/header'); %>
<div class="section">
    <IMG class="displayed" src="/img/kaspi.png" alt="Руководство пользователя биллинго - Услуги - Номенклатура - Прием платежей через приложение Kaspi.kz">
    <div class="container" title="Руководство пользователей биллинговой системы">
        <h1>Прием платежей Kaspi.kz</h1>
         <p class="blocktext">
            <i>Ребята, если вы оказались здесь, то извините, статья еще не готова, напишите нам и мы расскажем про нее устно.</i>
         </p>

        <div class="small-empty-container"></div>
        <a href="/user-manual">Еще про биллинг</a>
        <div class="small-empty-container"></div>
        <p class="blocktext_lighter">
            Скопируйте что вас интересует и отправьте нам
        </p>
    </div>
    <div>
        <a href="https://wa.me/77775947304" class="dwnld-button">Отправить</a>
    </div>
    <div class="small-empty-container"></div>

</div>

<%- include('layouts/footer'); %>