﻿<%- include('layouts/kz_head'); %>

<%
function digit(number) {
    var number =  String(number).replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1 ');
    return number;
}
%>
<%# comment %>

<%- include('layouts/kz_header'); %>
<div class="section">
    <IMG class="displayed" src="/img/Биллинг для Интернета ТВ Телефонии.png" alt="Биллинг для тарификации Интернета, телефонии, телевидения, домофона и других услуг">
    <div class="container" title="TimeBilling - Интернеттi, Телевизиянi, Телефониянi, Домофонды және тағы басқа қызметтердi тарифтеу үшін Биллинг жүйесi">
        <h1>TimeBilling</h1>
        <p class="blocktext">
            Телекоммуникациялық операторлар және басқа провайдерлер үшін Биллинг жүйесi - Интернет, Телевизия, Телефония және тағы басқа қызметтер
        </p>
        <p class="blocktext_lighter">
            Сіздің қызметiңiз мұнда жоқпа? Бiзге айтыңызшы
        </p>
    </div>
    <div>
        <a href="https://wa.me/77775947304" class="dwnld-button">Жазу</a>
    </div>
    <div class="empty-container"></div>

    <div class="container" title="TimeBilling Функциялары">
        <h1>TimeBilling Функциялары</h1>
        <ul class="a">
            <li>Абоненттін деректер базасын жүргізу</li>
            <li>Бапталатын тарифтеу және биллинг - Пайдаланушы пәрмені не автоматты кесте бойынша</li>
            <li>Жеке және заңды тұлғалар</li>
            <li>Алдын ала төлеу әлде Айдың аяғында төлеу</li>
            <li>БЕО (Бірыңғай Есептесу Орталығы) Астана төлемдерді қабылдау</li>
            <li>Kaspi real-time төлемдерді қабылдау</li>
            <li>TimeBilling-тен 1С Бухгалтерияға лездік деректерді табыстау.
                Деректер түсіру файлы жоқ, арнайы батырманы басу жоқ. TimeBilling сиқыры, тынымсыз жұмыс істейды</li>
            <!--<li>Customizable Reports</li>-->
            <!--<li>Reporting/Analytics</li>-->
        </ul>
        <p class="blocktext_lighter">
            Толық білу үшін жазыңыз
        </p>
    </div>
    <div>
        <a href="https://wa.me/77775947304" class="dwnld-button">Жазу</a>
    </div>
    <div class="empty-container"></div>

    <!--<IMG class="displayed" src="/img/АРМ Оператора.png" alt="АРМ Оператора">-->
    <!--<div class="container" title="АРМ Оператора">-->
        <!--<h1>АРМ Оператора</h1>-->
        <!--<p class="blocktext">Удобное рабочее место оператора, 90% действий в одном окне</p>-->
    <!--</div>-->
    <!--<div class="empty-container"></div>-->

    <div class="container" title="Пайдаңызды көбейту">
        <IMG class="displayed" src="/img/Биллинг для увеличения прибыли.png" alt="Пайдаңызды көбейту">
        <h1>Пайдаңызды көбейту</h1>
        <ul class="a">
            <li>Борышкерлерді іздеу</li>
            <li>Заңсыз қосу аналитикасы</li>
            <li>Сот кабинеті үшін деректер</li>
        </ul>
    </div>
    <div class="empty-container"></div>

    <div class="container" title="Пайдаңызды көбейту">
        <IMG class="displayed" src="/img/Биллинг с Отчетами для руководителя.png" alt="Пайдаңызды көбейту">
        <h1>KPI және Аналитика</h1>
        <ul class="a">
            <li>Абонент/ шарт саны</li>
            <li>Қызметтер қимадағы табыс</li>
            <li>ARPU</li>
            <li>Бапталатын есептемелер</li>
        </ul>
    </div>
    <div class="empty-container"></div>

    <div class="container" title="Басқа Функциялар">
        <IMG class="displayed" src="/img/Биллинг с Дополнительными возможностями.png" alt="Басқа Функциялар">
        <h1>Басқа Функциялар</h1>
        <ul class="a">
            <li>Белсенді желілік жабдықпен біріктіру</li>
            <li>Телекоммуникациялық жабдықпен біріктіру <a href="/connect-to-mikrotik">мысалы Mikrotik</a></li>
            <li>OSS CarbonSoftпен біріктіру <a href="https://docs.carbonsoft.ru/display/CarbonBilling/API+REST+v2.0">REST API</a></li>
            <li>CDR-файл импорты</li>
            <li>Деректер импорты/ экспорты</li>
            <li>Басқа жүйелерге интеграциялану</li>
            <li>Биллингтік жүйені пайдаланушы әрекеттерді қадағалау</li>
            <li>Резервтік көшіру</li>
            <li>Cloud әлде On Premise</li>
        </ul>
    </div>
    <div class="empty-container"></div>

    <div class="container" title="Біздің провайдерлер">
        <h1>Біздің провайдерлер</h1>
        <ul class="a">
            <li>Elitecom, Астана</li>
            <li>Scs Telecom, Астана</li>
            <li>Arka Telecom, Астана</li>
            <li>Nursat, Алматы</li>
            <li>KDF NS, Астана</li>
            <li>Arul, Астана</li>
            <li>Business Telecom, Астана</li>
            <li>Astana Group, Астана</li>
            <li>Key Com, Алматы</li>
            <li>Nomad TV, Астана</li>
            <li>Telecom Community, Астана</li>
            <li>КазТелеСистем, Астана</li>
            <li>Сапа Телеком, Ақтобе облысы</li>
            <li>Telco Construction, Ақмола облысы</li>
        </ul>
    </div>
    <div class="empty-container"></div>


    <div class="container" title="Команда">
        <h1>Команда</h1>
        <ul class="users-list">
            <li>
                <img src="/img/Danil.png" alt="Danil"/>
                <span>Danil Zarubin</span>
                <p>Software Engineer</p>
                <p class="blocktext2">
                    TimeBiling жүйесiнің front-end бағдарламашы. Сенімді бағдарламалар жазуды және хоккей ойнауды ұнатады
                </p>
            </li>
            <li>
                <img src="/img/Dima.png" alt="Dmitri"/>
                <span>Dmitri Machnev</span>
                <p>Software Engineer</p>
                <p class="blocktext2">
                    TimeBiling жүйесiнің back-end бағдарламашы. Таза кодты және таза мұзды ұнатады
                </p>
            </li>
            <li>
                <img src="/img/Eugene.png" alt="Eugene"/>
                <span>Eugene Enshin</span>
                <p>Software Engineer</p>
                <p class="blocktext2">
                    TimeBiling жүйесiнің full-stack бағдарламашы. TimeBilling-тен 1С Бухгалтерияға лездік деректерді табыстау істеді.
                    Хоккей сырғытпа таяғысы мықты қолымен қапсыра ұстады
                </p>
            </li>
            <li>
                <img src="/img/Anatoli.png" alt="Anatoli"/>
                <span>Anatoli Kim</span>
                <p>Software Engineer & Founder</p>
                <p class="blocktext2">
                    Телекоммуникациялық операторлар проблемалар ықыласпен тыңдады.
                    Жүзуден ҚР Кубогының ашық жарысқа қатысты 2018, 2019 ж.
                </p>
            </li>
        </ul>
    </div>
    <br>

    <p class="blocktext_center">
        Жазыңыз, биллинг, хоккей, жүзу жайында сөйлесейік
    <br>
    <br>
    <p><a href="https://wa.me/77775947304" target="Жазу"><img src="/img/whatsapp.png" alt="Жазу"/> WhatsApp</a>
        &nbsp
        <a href="mailto:infobillingg@gmail.com"><img src="/img/email.png" alt="Email"/> Email</a>
        <!--&nbsp-->
        <!--<a href="tel:+77775947304"><img src="/img/phone.png" alt="Call"/>+7 777 594 73 04</a><p/>-->

</div>

<%- include('layouts/kz_footer'); %>