﻿<%- include('layouts/user-manual-head'); %>

<%
function digit(number) {
    var number =  String(number).replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1 ');
    return number;
}
%>
<%# comment %>

<%- include('layouts/header'); %>
<div class="section">
    <IMG class="displayed" src="/img/Реализация услуг Биллинг.svg" alt="Руководство пользователя биллинго, Реализация услуг">
    <div class="container" title="Руководство пользователей биллинговой системы">
        <h1>Реализация услуг</h1>
             <p class="blocktext">
                <i>Меню Абоненты - Реализация услуг</i>
             </p>
              <p class="blocktext">
                Создать Реализацию - это фактически сделать начисления абоненту.
              </p>
             <p class="blocktext">
              Услуги оператора связи можно условно разделить на <b>"разовые"</b>, например: вызов монтера, покупка модема и т.д. и <b>"периодические"</b>, оказываемые регулярно за определенный период времени, например: безлимитный Интернет 100 Мбит/с за 10 тг. в месяц (мечта любого абонента).
             </p>
             <p class="blocktext">
              <b>Разовые</b> услуги рекомендуется выставлять через кнопку Создать:
             </p>
             <br></br>
            <IMG class="displayed" src="/img/Создать реализацию.png" alt="Реализация разовых услуг в биллинге для Интернета">
    <div class="small-empty-container"></div>
            <p class="blocktext">
              <b>Периодические</b> - через кнопку Создать реализацию биллинг:
            </p>
            <br></br>
            <IMG class="displayed" src="/img/Создать реализацию биллинг.png" alt="Реализация периодических услуг в биллинге для Интернета">
            <br></br>
           <p class="blocktext">
            Реализации (для периодических услуг) создаются только если ранее было создано <a href="/upravlenie-uslugami">Управление услугами</a>
           </p>
        <div class="small-empty-container"></div>
        <a href="/user-manual">Еще про биллинг</a>
        <div class="small-empty-container"></div>
        <p class="blocktext_lighter">
            Скопируйте что вас интересует и отправьте нам
        </p>
    </div>
    <div>
        <a href="https://wa.me/77775947304" class="dwnld-button">Отправить</a>
    </div>
    <div class="small-empty-container"></div>

</div>

<%- include('layouts/footer'); %>