﻿<%- include('layouts/user-manual-head'); %>

<%
function digit(number) {
    var number =  String(number).replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1 ');
    return number;
}
%>
<%# comment %>

<%- include('layouts/header'); %>
<div class="section">
    <IMG class="displayed" src="/img/Биллинг Интернет Цены Тарифы.png" alt="Руководство пользователя биллинго - Услуги - Номенклатура - Цены и Тарифы биллинга">
    <div class="container" title="Руководство пользователей биллинговой системы">
        <h1>Установка цен номенклатуры</h1>
         <p class="blocktext">
            <i>Меню Администрирование - Установка цен номеклатуры</i>
         </p>
         <br></br>
        <iframe width="394" height="222" src="https://youtube.com/embed/T6lzkuf0vos" frameborder="0">
        </iframe>
        <br></br>
         <p class="blocktext">
            Обратите внимание на следующее:
         </p>
          <ul class="a">
             <li>Дата - с этой даты начинают действовать новые тарифы</li>
          </ul>
          <ul class="a">
             <li>Тип цены. При <a href="/sozdat-abonenta">создании договора</a> указывается Тип цен,
             а при <a href="/realizaciya-uslug">начислении</a> цена берется из Установки и применяется в зависимости от Типа</li>
          </ul>
        <div class="small-empty-container"></div>
        <a href="/user-manual">Еще про биллинг</a>
        <div class="small-empty-container"></div>
        <p class="blocktext_lighter">
            Скопируйте что вас интересует и отправьте нам
        </p>
    </div>
    <div>
        <a href="https://wa.me/77775947304" class="dwnld-button">Отправить</a>
    </div>
    <div class="small-empty-container"></div>

</div>

<%- include('layouts/footer'); %>