﻿<%- include('layouts/server_requirements_head'); %>

<%
function digit(number) {
    var number =  String(number).replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1 ');
    return number;
}
%>
<%# comment %>

<%- include('layouts/header'); %>
<div class="section">
    <IMG class="displayed" src="/img/Требования_к_серверу_биллинга.png" alt="Технические требования для сервера биллинга для телеком операторов">
    <div class="container" title="TimeBilling - Рекомендации для сервера для биллинговой системы">
        <h1>Рекомендации для сервера</h1>
        <p class="blocktext">
            Мы просим интернет провайдеров придерживаться следующих параметров при внедрении биллинга
            <table class="center">
              <tr>
                <th>Абоненты</th>
                <th>0 - 10 000</th>
                <th>10 000 - 50 000</th>
                <th>50 000 - 100 000</th>
              </tr>
              <tr>
                <td>Процессор</td>
                <td>Процессор с архитектурой x86-64 (Intel с поддержкой Intel 64, AMD с поддержкой AMD64). Желательно использование многопроцессорных или многоядерных машин.</td>
                <td>Процессор с архитектурой x86-64 (Intel с поддержкой Intel 64, AMD с поддержкой AMD64). Использование многопроцессорных или многоядерных машин.</td>
                <td>Процессор с архитектурой x86-64 (Intel с поддержкой Intel 64, AMD с поддержкой AMD64). Использование многопроцессорных и многоядерных машин.</td>
              </tr>
              <tr>
                <td>RAM</td>
                <td>8Gb</td>
                <td>16Gb</td>
                <td>32Gb</td>
              </tr>
              <tr>
                <td>Диски</td>
                <td>100GB SSD System<br>
                    100GB SSD Data<br>
                    200GB HDD Backup</td>
                <td>200GB SSD System<br>
                    200GB SSD Data<br>
                    500GB HDD Backup</td>
                    <td>250GB SSD System<br>
                        500GB SSD Data<br>
                        1TB HDD Backup</td>
              </tr>
              <tr>
                <td>LAN</td>
                <td>100Мбит/с–<br>1Gbe</td>
                <td>100Мбит/с–<br>1Gbe</td>
                <td>1Gbe</td>
              </tr>
               <tr>
                  <td>Пример из<br>внедрения</td>
                  <td>Core i7 7700 3.6ГГц/ Core i5-10500T 2.3ГГц/ AMD Ryzen 5 5500U и т.д.</td>
                  <td>Intel Xeon E3-1220 v2 3,10GHz, 4 ядра, 4 потока, частота системной шины 5GT/s DMI</td>
                  <td>Intel Xeon E5 2134</td>
            </tr>
              <tr>
                <td>Инфо</td>
                <td>Выделенный виртуальный сервер или надежная рабочая станция</td>
                <td>Выделенный виртуальный или физический сервер. Форм фактор Rack/ Tower, желательно не брать 1U, если есть место в стойке для лучшего охлаждения</td>
                <td>Выделенный виртуальный или физический сервер. Форм фактор Rack/ Tower, желательно не брать 1U, если есть место в стойке для лучшего охлаждения</td>
              </tr>
            </table>
        </p>
        <p class="blocktext_lighter">
            Интересуют подробности? Напишите нам
        </p>
    </div>
    <div>
        <a href="https://wa.me/77775947304" class="dwnld-button">Написать</a>
    </div>
    <div class="empty-container"></div>

</div>

<%- include('layouts/footer'); %>