﻿<%- include('layouts/user-manual-head'); %>

<%
function digit(number) {
    var number =  String(number).replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1 ');
    return number;
}
%>
<%# comment %>

<%- include('layouts/header'); %>
<div class="section">
    <IMG class="displayed" src="/img/Биллинг для Интернета ТВ Телефонии.png" alt="Руководство пользователя биллинго, Создать абонента">
    <div class="container" title="Руководство пользователей биллинговой системы">
        <h1>Как создать абонента</h1>
             <p class="blocktext">
                <i>Меню Абоненты - Контрагенты</i>
             </p>
              <p class="blocktext">
                Через кнопку Создать:
             </p>
            <IMG class="displayed" src="/img/Создать абонента.png" alt="Создать абонента в биллинга для Интернета">
     <div class="small-empty-container"></div>
            <p class="blocktext">
                Здесь же сразу можно создать и договор. Для этого переходите на вкладку Договоры:
            </p>
            <IMG class="displayed" src="/img/Создать договор.png" alt="Создать договор в биллинга для Интернета">
        <div class="small-empty-container"></div>
        <a href="/user-manual">Еще про биллинг</a>
        <div class="small-empty-container"></div>
        <p class="blocktext_lighter">
            Скопируйте интересующий фрагмент и отправьте нам
        </p>
    </div>
    <div>
        <a href="https://wa.me/77775947304" class="dwnld-button">Отправить</a>
    </div>
    <div class="small-empty-container"></div>

</div>

<%- include('layouts/footer'); %>