﻿<%- include('layouts/user-manual-head'); %>

<%
function digit(number) {
    var number =  String(number).replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1 ');
    return number;
}
%>
<%# comment %>

<%- include('layouts/header'); %>
<div class="section">
    <IMG class="displayed" src="/img/Synchra works.png" alt="Руководство администратора биллинга, Предупреждения и Ошибки Синхронизации">
    <div class="container" title="Руководство администратора биллинговой системы - Предупреждения и Ошибки Синхронизации">
        <h1>Предупреждения и Ошибки Синхронизации</h1>
             <p class="blocktext">
                <i>В биллинге меню Администрирование - Синхронизация - Настройки синхронизации</i>
             </p>
             <p class="blocktext">
                Если все работает в штатном режиме, то выглядит это обычно следующим образом:
             </p>
             <IMG class="displayed" src="/img/Синхронизация все работает.png" alt="Синхронизация биллинга с бухгалтерией">
             <br></br>
             <p class="blocktext">
                Если что-то идет не так, то картина может быть примерно следующей:
             </p>
            <IMG class="displayed" src="/img/Синхронизация не работает.png" alt="Синхронизация биллинга с бухгалтерией">
             <br></br>
             <p class="blocktext">
                Т.е. в данном случае биллинг сообщает, что он отправляет данные, но при этом не может получить (данные) от бухгалтерии
             </p>
             <br></br>
             <p class="blocktext">
                Чтобы разобраться в причине, зайдите в Настроить. И здесь на вкладках События отправки и События получения логируются события синхронизации:
             </p>
             <IMG class="displayed" src="/img/Синхронизация события.png" alt="Синхронизация биллинга с бухгалтерией">
             <br></br>
            <p class="blocktext">
                В данном случае нас интересует вкладка События получения:
            </p>
            <IMG class="displayed" src="/img/Синхронизация Получение.png" alt="Создать договор в биллинга для Интернета">
             <br></br>
            <p class="blocktext">
                Найдите строку с ошибкой и дважды щелкните по ней:
            </p>
            <IMG class="displayed" src="/img/Синхронизация ошибка.png" alt="Создать договор в биллинга для Интернета">
            <br></br>
            <p class="blocktext">
                Судя по сообщению, не заполнен тип абонента: Физ/ Юр лицо. Поэтому биллинг не знает какое значение подставить и соответственно не может получить данные из бухгалтерии.
            </p>
            <p class="blocktext"><b>
                Внимание! При диагностике важно случайно не изменить Настройки синхронизации.
                Нежелательные изменения могут привести к нештатной работе или полной остановке синхронизации.
            </b></p>
        <div class="small-empty-container"></div>
        <a href="/admin-manual">Еще про биллинг для администратора</a>
        <div class="small-empty-container"></div>
        <p class="blocktext_lighter">
            Скопируйте фрагмент и отправьте нам
        </p>
    </div>
    <div>
        <a href="https://wa.me/77775947304" class="dwnld-button">Отправить</a>
    </div>
    <div class="small-empty-container"></div>

</div>

<%- include('layouts/footer'); %>