﻿<%- include('layouts/user-manual-head'); %>

<%
function digit(number) {
    var number =  String(number).replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1 ');
    return number;
}
%>
<%# comment %>

<%- include('layouts/header'); %>
<div class="section">
    <IMG class="displayed" src="/img/Подключение абонента.png" alt="Руководство пользователя биллинго - Управление услугами">
    <div class="container" title="Руководство пользователей биллинговой системы">
        <h1>Управление услугами</h1>
             <p class="blocktext">
                <i>Меню Абоненты - Управление услугами</i>
             </p>
             <p><b>Подключить абонента</b></p>
              <p class="blocktext">
                Чтобы подключить абонента к услуге, нам нужно через кнопку Создать, указываем ранее <a href="/sozdat-abonenta">созданного абонента и договор</a>:
             </p>
             <br></br>
            <IMG class="displayed" src="/img/Управление услугами.png" alt="Управление услугами абонента в биллинга для Интернета">
            <br></br>
            <p class="blocktext">
                Обратите внимание на дату - с этого момента начинается биллингование, т.е.
                <a href="/realizaciya-uslug">начисление</a>
                 согласно цены за тариф, а также подключение абонентской учетной записи к сети Интернет через соответствуюшее
                 оборудование (например, Mikrotik).
            </p>
        <div class="small-empty-container"></div>
         <p><b>Отключить абонента</b></p>
              <p class="blocktext">
                Чтобы отключить абонента от услуги, делаем все тоже самое что и при подключить, но только в колонке Количество
                ставим знак "-"
              </p>:
            <br></br>
            <IMG class="displayed" src="/img/Отключение_абонента_от_услуг.png" alt="Управление услугами абонента в биллинга для Интернета">
            <br></br>
            <p class="blocktext">
                Также следует внимательно отнестись к дате - с этой даты остановится биллингование (и отключение от Интернета) абонента.
            </p>
        <div class="small-empty-container"></div>
        <p class="blocktext">
            Если вам например, нужно подключить два абонентских устройства, то в столбце Количество вместо 1, можно использовать 2.
            В таком случае при начислении, абоненту будет начислена двойная стоимость тарифа, т.е. за 2 устройства.
        </p>
        <div class="small-empty-container"></div>
        <a href="/user-manual">Еще про биллинг</a>
        <div class="small-empty-container"></div>
        <p class="blocktext_lighter">
            Скопируйте фрагмент и отправьте нам
        </p>
    </div>
    <div>
        <a href="https://wa.me/77775947304" class="dwnld-button">Отправить</a>
    </div>
    <div class="small-empty-container"></div>
</div>

<%- include('layouts/footer'); %>