﻿<%- include('layouts/user-manual-head'); %>

<%
function digit(number) {
    var number =  String(number).replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1 ');
    return number;
}
%>
<%# comment %>

<%- include('layouts/header'); %>
<div class="section">
    <IMG class="displayed" src="/img/Биллинг Абоненты.svg" alt="Руководство пользователей биллинга для телеком операторов">
    <div class="container" title="Руководство пользователей биллинговой системы">
        <h1>Как работать в биллинге</h1>
        <br></br>
         <ul class="a">
            <li><a href="/sozdat-abonenta">Создание абонентов</a></li>
         </ul>
         <ul class="a">
            <li><a href="/upravlenie-uslugami">Подключить - Отключить абонента</a></li>
         </ul>
         <ul class="a">
            <li><a href="/realizaciya-uslug">Начисление - Реализация</a></li>
         </ul>
         <ul class="a">
            <li><a href="/arm-operatora">АРМ Оператора</a></li>
         </ul>
         <ul class="a">
            <li><a href="/billing-services">Тарифы - Услуги</a></li>
         </ul>
         <ul class="a">
            <li><a href="/services-price">Цены на услуги</a></li>
         </ul>
         <ul class="a">
            <li><a href="/cash-non-cash-payments">Прием наличных/ безналичных платежей</a></li>
         </ul>
         <ul class="a">
            <li><a href="/kaspi-payments">Прием оплаты Kaspi.kz</a></li>
         </ul>
         <ul class="a">
            <li><a href="/filter-sort">Отбор (фильтр), порядок и сортировка полей</a></li>
         </ul>
    <div class="small-empty-container"></div>
        <p class="blocktext_lighter">
            Скопируйте что вас интересует и отправьте нам
        </p>
    </div>
    <div>
        <a href="https://wa.me/77775947304" class="dwnld-button">Отправить</a>
    </div>
    <div class="empty-container"></div>

</div>

<%- include('layouts/footer'); %>