.section {
  text-align: center;
  background-color: #fff;
  max-width: 80%;
  margin: 0 auto;
  padding: 100px 0 100px 0;

  .container {
	width: 100%;
  }
  
  .empty-container {
	height: 120px;
  }
  .small-empty-container {
	height: 40px;
  }
  
  p {
	margin-bottom: 5px;
  }
  
  .h1 {
	font-size: 36px;
  }
  
  P.blocktext {
	width: 60%;
	display: inline-block;
	text-align: justify;
	//list-style: none;
	//color: #3D95CE; //font color
  }
  
  P.blocktext_lighter {
	width: 60%;
	display: inline-block;
	text-align: justify;
	color: #a4a4a4;
  }
  
  P.blocktext_center {
	width: 60%;
	display: inline-block;
	//list-style: none;
	//color: #3D95CE; //font color
  }
  
  IMG.displayed {
	display: inline-block;
  }
  
  ul.a {
	list-style-type: square;
	text-align: justify;
	display: inline-block;
	width: 60%;
  }
  
  
  .dwnld-button {
	line-height: 40px;
	display: inline-block;
	color: white;
	border: 0.5px solid #1E81CE;
	text-decoration: none;
	text-align: center;
	padding: 2px 30px;
	border-radius: 20px;
	background-color: #1E81CE;
	box-shadow: 4px 4px 0 rgba(0, 103, 157, 0.2);
	margin: 20px 0 0 0;
  }
  
  .dwnld-button:hover {
	background-color: white;
	color: #1E81CE;
  }
  
  
  .users-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	
	li {
	  max-width: 40%;
	  margin: 5px 5px 5px 5px;
	  list-style: none;
	  display: inline-block;
	  vertical-align: top;
	  
	  > span {
		color: #1E81CE;
		display: block;
	  }
	  
	  > p {
		display: block;
		color: #a4a4a4;
	  }
	  
	  a {
		> img {
		  border-radius: 100%;
		  margin: 0 30px 0 30px;
		}
	  }
	}
	P.blocktext2{
	  font-size: 16px;
	  text-align: justify;
	  margin: 5px 2px 5px 2px;
	  color: #44546A;
	}
  }

	.table {
		//font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: #dddddd;
	}
}

@media screen and (max-width: 760px) {
  h1 {
	font-size: 24px;
  }
  p br {
	display: none;
  }
  a.navbar-brand {
	padding: 5px 10px;
  }
  .section {
	max-width: 100%;
	}
 
	.users-list {
	  li {
		a {
		  > img {
			width: 64px;
			height: 64px;
			margin: 0 10px 0 10px;
		  }
		}
	  }
	}
	.dwnld-button {
	  margin: 10px 0 0 0;
	}
	.table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: #dddddd;
	}
  }

@media screen and (max-width: 480px) {
  h1 {
	font-size: 20px;
  }
  p br {
	display: none;
  }
  a.navbar-brand {
	padding: 5px 5px;
  }
  .section {
	max-width: 100%;
	}
 
	.users-list {
	  li {
		a {
		  > img {
			width: 64px;
			height: 64px;
			margin: 0 10px 0 10px;
		  }
		}
	  }
	}
	.dwnld-button {
	  margin: 10px 0 0 0;
	}
	.table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: #dddddd;
	}
  }